* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #050b11;
    color: white;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(5, 11, 17, 0.94);
    border-bottom: 1px solid #182631;
    backdrop-filter: blur(10px);
}

.navbar {
    max-width: 1200px;
    height: 70px;
    margin: auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span,
.hero h1 span,
.section-heading h2 span,
.footer-logo span {
    color: #00bfff;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #aeb8c2;
    font-size: 13px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bfff;
}

.talk-btn {
    border: 1px solid #00bfff;
    border-radius: 20px;
    padding: 8px 17px;
    color: #00bfff;
    font-size: 12px;
    transition: 0.3s;
}

.talk-btn:hover {
    background: #00bfff;
    color: #001018;
}


/* HERO */

.hero {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 120px 20px 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-content {
    max-width: 570px;
}

.welcome {
    color: #00bfff;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: bold;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.1;
    margin: 8px 0;
}

.hero h2 {
    font-size: 25px;
    color: #dce3e8;
    margin-bottom: 15px;
}

.hero-description {
    color: #9da8b1;
    max-width: 560px;
    font-size: 15px;
}

.hero-buttons {
    display: flex;
    gap: 12px;
    margin-top: 28px;
}

.primary-btn,
.secondary-btn {
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 13px;
    transition: 0.3s;
}

.primary-btn {
    background: #00aef0;
    color: #001018;
    font-weight: bold;
}

.primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 191, 255, 0.2);
}

.secondary-btn {
    border: 1px solid #087ba1;
    color: white;
}

.secondary-btn:hover {
    border-color: #00bfff;
    color: #00bfff;
}

.social-links {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.social-links a {
    width: 38px;
    height: 38px;
    border: 1px solid #16465c;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #d0d8de;
    transition: 0.3s;
}

.social-links a:hover {
    border-color: #00bfff;
    color: #00bfff;
    transform: translateY(-3px);
}


/* HERO IMAGE */

.hero-right {
    position: relative;
    width: 520px;
    height: 440px;
}

.photo-container {
    width: 390px;
    height: 390px;
    border: 2px solid #00bfff;
    border-radius: 12px;
    padding: 8px;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 7px;
}
.code-box {
    position: absolute;
    right: -5px;
    top: 45px;

    width: 185px;

    padding: 15px;

    background: #08121a;
    border: 1px solid #357b98;
    border-radius: 9px;

    font-family: monospace;
    font-size: 10px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.code-top {
    color: #00bfff;
    font-size: 13px;
    margin-bottom: 8px;
}

.code-box p {
    color: #c0cbd2;
}

.code-box span {
    color: #00bfff;
}

.code-box b {
    color: #6ce0ff;
    font-weight: normal;
}

.dream-text {
    position: absolute;
    right: -25px;
    bottom: 15px;

    color: #d5e0e6;

    font-size: 23px;
    font-family: cursive;
    font-style: italic;

    line-height: 1.35;

    transform: rotate(-7deg);
}


/* COMMON SECTION */

.section {
    max-width: 1200px;
    margin: auto;
    padding: 90px 20px;
    border-top: 1px solid #14222c;
}

.section-heading {
    margin-bottom: 40px;
}

.section-heading p,
.projects-heading p {
    color: #00bfff;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
}

.section-heading h2 {
    font-size: 35px;
    margin-top: 3px;
}


/* ABOUT */

.about-grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr 0.7fr;
    gap: 30px;
    align-items: center;
}

.about-text {
    color: #a7b1b9;
    font-size: 14px;
}

.about-text p {
    margin-bottom: 14px;
}

.signature {
    color: #00bfff;
    font-family: cursive;
    font-size: 27px;
    font-style: italic;
    margin-top: 20px;
}

.student-card {
    background: linear-gradient(145deg, #091722, #071018);
    border: 1px solid #1d3a4b;
    border-radius: 8px;
    padding: 28px;
}

.round-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(0, 191, 255, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    color: #00bfff;
    margin-bottom: 15px;
}

.student-card h3 {
    font-size: 17px;
}

.student-card h4 {
    color: #8c9aa4;
    font-size: 13px;
    margin: 4px 0 12px;
}

.student-card p {
    color: #89959e;
    font-size: 12px;
}

.quick-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-item > i {
    width: 38px;
    height: 38px;

    border-radius: 50%;
    border: 1px solid #16546e;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #00bfff;
}

.info-item small {
    color: #77858f;
}

.info-item p {
    color: #d0d8de;
    font-size: 11px;
}


/* SKILLS */

.skills-section {
    max-width: 1200px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
}

.skill {
    height: 105px;

    background: linear-gradient(145deg, #09141e, #071018);
    border: 1px solid #1d3442;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.skill:hover {
    transform: translateY(-5px);
    border-color: #00bfff;
}

.skill i {
    font-size: 30px;
    color: #00bfff;
    margin-bottom: 8px;
}

.skill h3 {
    font-size: 12px;
    color: #e2e8ec;
}


/* PROJECTS */

.projects-section {
    max-width: 1200px;
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 35px;
}

.projects-heading h2 {
    font-size: 35px;
}

.projects-heading > a {
    color: #00bfff;
    font-size: 12px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.project {
    background: #08121a;
    border: 1px solid #1b3544;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 130px 1fr;

    transition: 0.3s;
}

.project:hover {
    transform: translateY(-5px);
    border-color: #00bfff;
}

.project-image {
    min-height: 190px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(145deg, #09202d, #071017);
}

.project-image i {
    font-size: 48px;
    color: #00bfff;
}

.project-content {
    padding: 18px;
}

.project-content h3 {
    font-size: 16px;
    margin-bottom: 7px;
}

.project-content p {
    color: #8997a0;
    font-size: 11px;
    line-height: 1.5;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 12px 0;
}

.tags span {
    background: #12232e;
    border: 1px solid #274452;
    color: #9fb0ba;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 8px;
}

.project-link {
    color: #00bfff;
    font-size: 10px;
}

.project-link:hover {
    text-decoration: underline;
}


/* BOTTOM */

.bottom-section {
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    border-top: 1px solid #14222c;
}

.left-heading {
    margin-bottom: 25px;
}

.education-card {
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    gap: 15px;

    background: #08121a;
    border: 1px solid #1b3544;
    border-radius: 8px;
    padding: 25px;
}

.education-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    background: rgba(0, 191, 255, 0.1);
    color: #00bfff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.education-card h3 {
    font-size: 13px;
}

.education-card h4 {
    color: #a8b5bd;
    font-size: 11px;
}

.education-card .date {
    color: #00bfff;
    font-size: 10px;
    margin-top: 4px;
}

.education-description {
    border-left: 1px solid #29404d;
    padding-left: 20px;
    color: #89959e;
    font-size: 11px;
}


/* CONTACT */

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.contact-details h3 {
    font-size: 21px;
}

.contact-details > p {
    color: #89959e;
    font-size: 12px;
    margin: 8px 0 20px;
}

.contact-details > a {
    display: block;
    color: #aeb9c0;
    font-size: 11px;
    margin: 12px 0;
}

.contact-details > a i {
    color: #00bfff;
    width: 25px;
}

.contact-form {
    background: #08121a;
    border: 1px solid #1b3544;
    padding: 18px;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    gap: 9px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #050c12;
    border: 1px solid #1b303d;
    color: white;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    font-size: 10px;
    font-family: Arial;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00bfff;
}

.contact-form textarea {
    resize: none;
    height: 85px;
}

.contact-form button {
    background: #00aef0;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    color: #001018;
}

.contact-form button:hover {
    background: #00bfff;
}


/* FOOTER */

footer {
    border-top: 1px solid #14222c;
    padding: 30px 20px;
    text-align: center;
}

.footer-logo {
    font-size: 17px;
    font-weight: bold;
}

footer > p {
    color: #65727b;
    font-size: 10px;
    margin-top: 5px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.footer-socials a {
    width: 32px;
    height: 32px;

    border: 1px solid #25404e;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #a9b4bb;
    font-size: 12px;
}

.footer-socials a:hover {
    border-color: #00bfff;
    color: #00bfff;
}

.copyright {
    font-size: 9px;
}


/* RESPONSIVE */

@media (max-width: 1000px) {

    .nav-links {
        gap: 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 120px;
    }

    .hero-buttons,
    .social-links {
        justify-content: center;
    }

    .hero-right {
        margin-top: 30px;
    }

    .about-grid {
        grid-template-columns: 1fr 1fr;
    }

    .quick-info {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .bottom-section {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 700px) {

    .nav-links {
        display: none;
    }

    .talk-btn {
        display: none;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero-right {
        width: 100%;
        height: 390px;
    }

    .photo-container {
        width: 300px;
        height: 300px;
        left: 50%;
        transform: translateX(-50%) rotate(-2deg);
    }

    .code-box {
        right: 0;
        top: 25px;
    }

    .dream-text {
        right: 0;
        bottom: 0;
        font-size: 17px;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .quick-info {
        grid-column: auto;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .bottom-section {
        grid-template-columns: 1fr;
    }

    .contact-content {
        grid-template-columns: 1fr;
    }

    .education-card {
        grid-template-columns: 50px 1fr;
    }

    .education-description {
        grid-column: span 2;
        border-left: none;
        border-top: 1px solid #29404d;
        padding: 15px 0 0;
    }
}


@media (max-width: 450px) {

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project {
        grid-template-columns: 1fr;
    }

    .project-image {
        min-height: 130px;
    }

    .project-content {
        padding: 18px;
    }

    .quick-info {
        grid-template-columns: 1fr;
    }


}
.photo-container {
    width: 400px !important;
    height: 400px !important;
    padding: 5px !important;
    border: 2px solid #00bfff !important;
    overflow: hidden !important;
}

.photo-container img {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    object-fit: cover !important;
    border-radius: 8px !important;
}